In [7]:
#List comprehension

square = [ x**2 for x in range(1,16) if(x%2 !=0)]
print(square)

[1, 9, 25, 49, 81, 121, 169, 225]

In [8]:
#change the items of list in upper case 
geeta = ['apple' , 'fruits' , 'pineapple']
upper_case = [x.upper() for x in geeta ]
upper_case

['APPLE', 'FRUITS', 'PINEAPPLE']

In [12]:
geeta = ["apple" , "fruits" , "pineapple"]
length_geeta = [len(x) for x in geeta]
length_geeta

[5, 6, 9]

In [17]:
# Extract digit from a given string
text = "abc123def456"
extract_digit = [ x for x in text if x.isdigit() ]
extract_digit

['1', '2', '3', '4', '5', '6']

In [20]:
# Dictionary comprehension 
# squares of even numbers 1 to 25 using dictionary comprehension 

squares = { x : x**2 for x in range(1,26) if(x %2 == 0) }
squares

{2: 4,
 4: 16,
 6: 36,
 8: 64,
 10: 100,
 12: 144,
 14: 196,
 16: 256,
 18: 324,
 20: 400,
 22: 484,
 24: 576}

In [22]:
# make dictionary of square of all multiple of 3 between 1 to 50 usinf dictianry

multiple = { x : x**2 for x in range( 1,51) if(x%3== 0)}
multiple

{3: 9,
 6: 36,
 9: 81,
 12: 144,
 15: 225,
 18: 324,
 21: 441,
 24: 576,
 27: 729,
 30: 900,
 33: 1089,
 36: 1296,
 39: 1521,
 42: 1764,
 45: 2025,
 48: 2304}

In [24]:
name = [ 'rohan' , 'sameer' , 'mayank' , 'ajay' , 'priyanshu']
roll_no = [ 1123 , 1156 , 1103 , 1120  , 1002 ]

data = { name : roll_no for name, roll_no in zip(name , roll_no) }
data

{'rohan': 1123,
 'sameer': 1156,
 'mayank': 1103,
 'ajay': 1120,
 'priyanshu': 1002}

In [29]:
marks = { 'Maths' : 98 , 'English' : 78 , 'Physics' : 15 , 'Chemistry' : 35 , 'PHE' : 62}
dict = { subject : mark for subject , mark in marks.items() if mark > 50}
print(dict)

{'Maths': 98, 'English': 78, 'PHE': 62}

In [32]:
# Filter the marks of Chemistry
dict = { subject : mark for subject , mark in marks.items() if subject == "Chemistry"}
dict

{'Chemistry': 35}

In [34]:
# invert a dictionary ( key <-> value )
marks = { 'Maths' : 98 , 'English' : 78 , 'Physics' : 15 , 'Chemistry' : 35 , 'PHE' : 62}
dict = { mark : subject for subject , mark in marks.items() }
print(dict)

{98: 'Maths', 78: 'English', 15: 'Physics', 35: 'Chemistry', 62: 'PHE'}

In [39]:
# count occurences of 
name = "geeta university"
char_count = { char : name.count(char) for char in name}
char_count

{'g': 1,
 'e': 3,
 't': 2,
 'a': 1,
 ' ': 1,
 'u': 1,
 'n': 1,
 'i': 2,
 'v': 1,
 'r': 1,
 's': 1,
 'y': 1}

In [40]:
# Packing & unpacking a list and dictionary
my_list = [ 10 , 20 , 30 , 40]
a , b ,c ,d = my_list
print("a = " , a )
print("b = " , b )
print("c = " , c )
print("d = " , d )

a =  10
b =  20
c =  30
d =  40

In [45]:
# using * for extended unpacking in lists
a  , *b , c  = my_list
print("a = " , a )
print("b = " , b )
print("c = " , c )

a =  10
b =  [20, 30]
c =  40

In [46]:
# unpacking in  function argument
def add(a,b,c):
    return a+b+c

my_list = [10,20,30]
print(add(*my_list))

60

In [48]:
# List packing in Function Paramteters (using args)
def greet_all(*names):
    for name in names :
        print("Hello" , name )

greet_all("Alice" , "Bob" , "Charlie" , "Atul" , "Mayank" , "Vinay")

Hello Alice
Hello Bob
Hello Charlie
Hello Atul
Hello Mayank
Hello Vinay

In [49]:
# Unpacking a dictionary
my_dict = {
     'name' : 'Alice',
     'age': 25,
     'city' : 'Delhi'
 }
print(my_dict)

{'name': 'Alice', 'age': 25, 'city': 'Delhi'}

In [50]:
name , age , city = my_dict.values()
print(name , age , city )

Alice 25 Delhi

In [52]:
# Using ** to Unpack Dictionaries into functions
def display(name , age , city) :
    print(f"Name : {name} , Age : {age} , City : {city}")

data = {'name' : 'Alice' , 'age' : 25 , 'city' : 'Delhi' }

display(**data)

Name : Alice , Age : 25 , City : Delhi

In [53]:
# Dictionary Packing with **kwargs
def student_info(**kwargs):
    for key, value in kwargs.items():
        print(f" {key} : {value}")

student_info(name = "John" , grade = "A" , subject = "Math")

 name : John
 grade : A
 subject : Math

In [54]:
# Merging Dictionaries with ** Unpacking
dict1 = { 'a' : 1 , 'b' : 2}
dict2 = { 'c' : 3 , 'd' : 4}

merged = { **dict1 , **dict2}
print(merged)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}