## function day:-2

In [2]:
#  default arguments:

def greet (name , msg="good morning"):
    print(f"Hi {name}, {msg}")

greet("Gopal")

Hi Gopal, good morning

In [4]:
greet("Suraj","goodevening")

Hi Suraj, goodevening

In [18]:
# write a program to calculate simple interest using function with 
# default argument - intrest rate is : 7.1%
# take the input - principal and time in years from user 

def simple_interest(principal, time, rate=7.1):
    interest = (principal * time * rate) / 100
    return interest

principal = float(input("Enter the principal amount: "))
time = float(input("Enter the time in years: "))

interest = simple_interest(principal, time)

print(f"Simple Interest for principal ₹{principal} over {time} years at 7.1% rate is ₹{interest:.2f}")

Enter the principal amount:  67999
Enter the time in years:  5

Simple Interest for principal ₹67999.0 over 5.0 years at 7.1% rate is ₹24139.65

In [16]:
#  keyword argument --- you can change the order of argument at calling time ..

simple_interest(time= 2.5 , principal= 4500)

798.75

In [24]:
#  Arbitrary arguments

def greet(*names):
    for name in names:
        print(f"hello,{name}")

greet("radha","rukmani","vrinda","satayabhama")

hello,radha
hello,rukmani
hello,vrinda
hello,satayabhama

In [28]:
# passing functions to function 

def change_lst(nums):
    val = 10
    new_lst = []
    for i in range(0, len(nums)):
        new_lst.append(nums[i] + val)
    print('After function call, new_lst:', new_lst)
          
lst = [1, 2, 3, 4, 5]
change_lst(lst)

After function call, new_lst: [11, 12, 13, 14, 15]

In [32]:
# find the squares of even numbers from 1 to 20 using passing
# collection sa an argument in a function in python 

def square(nums):
    square=[]
    for i in nums:
        if i%2==0:
            square.append(i**2)
    return square
    
num_list = list(range(1, 21))

result = square(num_list)


print("Squares of even numbers from 1 to 20:", result)

Squares of even numbers from 1 to 20: [4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [46]:
# passing function to function 


def value(r):
    return r  

def circle_area(f):
    area = 3.14 * (f ** 2)
    return area

res = circle_area(value(4))
print("Area of circle:", res)

Area of circle: 50.24

In [48]:
# nested function or inner function 
def f1():
    print("hello")
    def f2():
        print("world")
    f2()
f1()

hello
world

In [52]:
 # global variable in a function 
def f1():
    a = 10
 def f2():
    global a
    a = 2
        
    print(a)

f1()
f2()
print(a)

2
2

**Anonymous function**

In [55]:
double = lambda x : x * 2
print(double(5))

10

In [57]:
square = lambda x : x ** 2
print(square(5))

25

In [59]:
greater = lambda x,y : x if x>y else y
print(greater(10,15))

15

In [61]:
odd_or_even = lambda x: "Even" if x % 2 == 0 else "Odd"

print(odd_or_even(4)) 
print(odd_or_even(7))

Even
Odd

In [63]:
#  filter ()-----

my_list =[1,5,4,6,8,11,3,12]
new_list = list(filter(lambda x: (x%2==0),my_list))
print(new_list)

[4, 6, 8, 12]

In [65]:
# map ()----

my_list =[1,5,4,6,8,11,3,12]
new_list = list(map(lambda x : x * 2 , my_list))
print(new_list)

[2, 10, 8, 12, 16, 22, 6, 24]