## List Comprehension

In [7]:
#  generate square of number  1 to 5 
[x**2 for x in range(1,6)]

[1, 4, 9, 16, 25]

In [9]:
# even number from 1 to 20
even_num=[x for x in range(1,21) if x%2==0]
even_num

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [13]:
#  convert all sring in list to uppercase

fruits = ['apple','banana','cherry']
upper_case = [x.upper() for x in fruits]
upper_case

['APPLE', 'BANANA', 'CHERRY']

In [15]:
# create a list of length of words 
words = ["hello", "world", "python", "rocks"]
lengths = [len(word) for word in words]

print(lengths)

[5, 5, 6, 5]

In [17]:
# extract digits from the string 
text = "abc123def456"
digits = [char for char in text if char.isdigit()]
print(digits)

['1', '2', '3', '4', '5', '6']

In [23]:
text = "abc123def456"
digits = [char for char in text if not char.isdigit()]
print(digits)

['a', 'b', 'c', 'd', 'e', 'f']

## Dictionary comprehension

In [26]:
#  square number as dictionary comprehension
squares = {x: x**2 for x in range(1, 6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [34]:
# /make dictionary of all square of  multiple of 3 between 1 to 50
multiples_of_3 = {x: x**2 for x in range(2, 51) if x % 3 == 0}
print(multiples_of_3)

{3: 9, 6: 36, 9: 81, 12: 144, 15: 225, 18: 324, 21: 441, 24: 576, 27: 729, 30: 900, 33: 1089, 36: 1296, 39: 1521, 42: 1764, 45: 2025, 48: 2304}

In [38]:
#  create a dictionary with two list 
keys = [1003, 1004, 1005]
values = ["gopal", "priyanshu","lovedeeep"]

my_dict = {k: v for k, v in zip(keys, values)}
print(my_dict)

{1003: 'gopal', 1004: 'priyanshu', 1005: 'lovedeeep'}

In [40]:
# filter dictionary with values greater than 50 

original_dict = {'a': 45, 'b': 60, 'c': 30, 'd': 75}

filtered_dict = {k: v for k, v in original_dict.items() if v > 50}
print(filtered_dict)

{'b': 60, 'd': 75}

In [42]:
marks = {"maths" : 80 , " english" : 78 , " science " : 98}

filtered  = { s  : m for s , m in marks.items() if m >= 80}
print(filtered)

{'maths': 80, ' science ': 98}

In [62]:
marks = {"maths" : 80 , " english" : 78 , " science " : 98}
sub  = { s  : m for s , m in marks.items() if s == " science "}
print(sub)

{' science ': 98}

In [70]:
# invert a dictionary (key <-> value)
original_dict = {'a': 1, 'b': 2, 'c': 3}

inverted_dict = {v: k for k, v in original_dict.items()}
print(inverted_dict)

{1: 'a', 2: 'b', 3: 'c'}

In [78]:
# count occurance of characters in a word 
name = "geeta univerisity"
count = { ch: name.count(ch) for ch in set(name) }
print(count)

{'y': 1, 't': 2, 'a': 1, 'u': 1, ' ': 1, 'e': 3, 'n': 1, 'g': 1, 'i': 3, 'v': 1, 's': 1, 'r': 1}

## packing and unpacking in python

In [103]:
#  packing and unpacking a list 
my_list = [10,20,30,40]
a,b,c,d = my_list
print("a =",a)
print("b =",b)
print("c =",c)
print("d =",d)

a = 10
b = 20
c = 30
d = 40

In [105]:
# unpacking
a,b,c,d = [10,20,30,40]
print(a,b,c,d)

10 20 30 40

In [107]:
#  using * for extended unpacking in lists

a, *b = my_list
print("a =",a)
print("b =",b)

a = 10
b = [20, 30, 40]

In [109]:
*a, b = my_list
print("a =",a)
print("b =",b)

a = [10, 20, 30]
b = 40

In [111]:
a, *b, c = my_list
print("a =",a)
print("b =",b)
print("c =",c)

a = 10
b = [20, 30]
c = 40

In [113]:
# unpacking in function arguments

def add(a,b,c):
    return a+b+c

my_list = [10,20,30]
print(add(*my_list))

60

In [115]:
# list packing in function parameters (using args)

def greet_all(*names):
    for name in names:
        print("hello",name)

greet_all("alice","gopal","mayank","lovedeep")

hello alice
hello gopal
hello mayank
hello lovedeep

In [121]:
# unpacking in dictionary 

my_dict = {'name':'gopal','age':20,'city':'sonepat'}
print(my_dict)

{'name': 'gopal', 'age': 20, 'city': 'sonepat'}

In [123]:
name , age , city = my_dict.values()
print(name,age,city)

gopal 20 sonepat

In [133]:
# using ** unpack dictionaries into function 

def display(name, age ,city):
    print(f"Name :{name}, Age :{age},City:{city}")

data = {'name':'alice','age':20,'city':'delhi'}

display(**data)

Name :alice, Age :20,City:delhi

In [139]:
# dictionary packing with **kwargs

def student_info(**kwargs):
    for key , value in kwargs.items():
        print(f"{key}:{value}")

student_info(name="john" , grade="a" , subject="math")

name:john
grade:a
subject:math

In [141]:
# merging dictionaries with ** unpacking 
dict1 ={'a' :1 ,'b':2}
dict2 ={'c' :3 , 'd':4}

merged = {**dict1, **dict2}
print(merged)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

## Project

In [1]:
# Step 1: Input Dataset
sales_data = [
    {'product': 'Laptop', 'region': 'North', 'sales': 150},
    {'product': 'Mouse', 'region': 'South', 'sales': 300},
    {'product': 'Keyboard', 'region': 'North', 'sales': 120},
    {'product': 'Laptop', 'region': 'South', 'sales': 100},
    {'product': 'Monitor', 'region': 'East', 'sales': 130},
    {'product': 'Mouse', 'region': 'North', 'sales': 220},
    {'product': 'Keyboard', 'region': 'East', 'sales': 180},
    {'product': 'Monitor', 'region': 'South', 'sales': 170},
    {'product': 'Laptop', 'region': 'East', 'sales': 90}
]

# Step 2: Extract Unique Product Names
product_names = list({record['product'] for record in sales_data})
print("âœ… Unique Products:", product_names)

# Step 3: Create Product-Wise Total Sales Dictionary
product_sales = {
    product: sum(record['sales'] for record in sales_data if record['product'] == product)
    for product in product_names
}
print("\nðŸ“Š Product-wise Total Sales:")
for k, v in product_sales.items():
    print(f"  {k}: {v}")

# Step 4: Region-Wise Sales Dictionary
regions = list({record['region'] for record in sales_data})
region_sales = {
    region: {
        product: sum(record['sales'] for record in sales_data if record['product'] == product and record['region'] == region)
        for product in product_names
    }
    for region in regions
}
print("\nðŸ—ºï¸ Region-wise Sales:")
for region, sales in region_sales.items():
    print(f"  {region}: {sales}")

# Step 5: Find Top 3 Products by Total Sales
top_3_products = sorted(product_sales.items(), key=lambda x: x[1], reverse=True)[:3]
print("\nðŸ¥‡ Top 3 Products by Total Sales:")
for product, total in top_3_products:
    print(f"  {product}: {total}")

# Step 6: List Products with Sales Above a Threshold
threshold = 200
high_selling_products = [product for product, total in product_sales.items() if total > threshold]
print(f"\nðŸš€ Products with Sales Above {threshold}: {high_selling_products}")

âœ… Unique Products: ['Keyboard', 'Mouse', 'Laptop', 'Monitor']

ðŸ“Š Product-wise Total Sales:
  Keyboard: 300
  Mouse: 520
  Laptop: 340
  Monitor: 300

ðŸ—ºï¸ Region-wise Sales:
  South: {'Keyboard': 0, 'Mouse': 300, 'Laptop': 100, 'Monitor': 170}
  East: {'Keyboard': 180, 'Mouse': 0, 'Laptop': 90, 'Monitor': 130}
  North: {'Keyboard': 120, 'Mouse': 220, 'Laptop': 150, 'Monitor': 0}

ðŸ¥‡ Top 3 Products by Total Sales:
  Mouse: 520
  Laptop: 340
  Keyboard: 300

ðŸš€ Products with Sales Above 200: ['Keyboard', 'Mouse', 'Laptop', 'Monitor']