 ## Tuple

In [4]:
# tuple
t = (1,"geeta",4.5,True)
t

(1, 'geeta', 4.5, True)

In [6]:
# creating empty tuple
t1 = ()

In [8]:
t2 = (5,)
type(t2)

tuple

In [10]:
t[2]

4.5

In [12]:
a = [1,2]
b = ["india","nepal"]
t4 = (a,b)
t4

([1, 2], ['india', 'nepal'])

In [14]:
a[0] = 3.04

In [16]:
t4

([3.04, 2], ['india', 'nepal'])

In [19]:
#  deleting a tuple 
del t4

## operations on tuple

**addition**

In [23]:
t = (2,3,5) + (1,3) + (4,)
t

(2, 3, 5, 1, 3, 4)

In [25]:
t1 = (1,2,3)
t2 = (4,5,6)
t3 = t1+t2
t3

(1, 2, 3, 4, 5, 6)

**multiplication**

In [28]:
t5 = (1,3)
t6 = t5*10
t6

(1, 3, 1, 3, 1, 3, 1, 3, 1, 3, 1, 3, 1, 3, 1, 3, 1, 3, 1, 3)

**membership**

In [35]:
t7 = (1,2,3,4,5,6,7)
9 in t7

False

**itetration in tuple**

In [51]:
names = ('john','gopal','himanshu','lovedeep')
for name in names:
    print("hello",name)

hello john
hello gopal
hello himanshu
hello lovedeep

## Functions in tuple

**len function**

In [57]:
names = ('john','gopal','himanshu','lovedeep')
print(len(names))

4

**cmp() --- for comparission**

In [66]:
t1 = (1,2,3,)
t2 = (4,5)

# it is deleted in the python 3

## method of tuple 
**count()**
**index()**

In [69]:
my_tuple = ('a','p','p','l','e',)
my_tuple.index('p')

1

In [71]:
my_tuple.count('p')

2

## tuple project

In [1]:
students = [
    ("Alice", 85),
    ("Bob", 78),
    ("Charlie", 92),
    ("David", 67),
    ("Eva", 95),
    ("Frank", 70),
    ("Grace", 88),
    ("Helen", 95)
]

while True:
    print("\n==== Student Management System ====")
    print("1. Display all students with their grades")
    print("2. Search a student by name")
    print("3. Show total marks of the class")
    print("4. Show average marks of the class")
    print("5. Show topper student(s)")
    print("6. Exit")
    choice = input("Enter your choice (1-6): ")

    if choice == '1':
        print("\n---- All Students with their Grades ----")
        for name, marks in students:
            print(f"{name}: {marks}")

    elif choice == '2':        
        print("\n---- Search a student by name ----")
        p = input("Enter the name you want to search: ").capitalize()
        found = False
        for name, marks in students:
            if p == name:
                print(f"Name of the Student: {name}, Marks: {marks}")
                found = True
                break
        if not found:
            print("Student not found!")

    elif choice == '3':
        print("\n---- Total Marks of the Class ----")
        total_marks = sum(marks for _, marks in students)
        print(f"Total Marks of the Class: {total_marks}")

    elif choice == '4':
        print("\n---- Average Marks of the Class ----")
        total_marks = sum(marks for _, marks in students)
        average_marks = total_marks / len(students)
        print(f"Average Marks of the Class: {average_marks:.2f}")

    elif choice == '5':
        print("\n---- Topper Student(s) ----")
        top_score = max(marks for _, marks in students)
        for name, marks in students:
            if marks == top_score:
                print(f"{name} with {marks} Marks!")

    elif choice == '6':
        print("\nExiting the program. Goodbye!")
        break

    else:
        print("Invalid choice! Please enter a number from 1 to 6.")

    input("\nPress Enter to continue...")

==== Student Management System ====
1. Display all students with their grades
2. Search a student by name
3. Show total marks of the class
4. Show average marks of the class
5. Show topper student(s)
6. Exit

Enter your choice (1-6):  4

---- Average Marks of the Class ----
Average Marks of the Class: 83.75

Press Enter to continue...

==== Student Management System ====
1. Display all students with their grades
2. Search a student by name
3. Show total marks of the class
4. Show average marks of the class
5. Show topper student(s)
6. Exit

Enter your choice (1-6):  6

Exiting the program. Goodbye!

In [84]:
# other meathod 

students = [
    ("Alice", 85),
    ("Bob", 78),
    ("Charlie", 92),
    ("David", 67),
    ("Eva", 95),
    ("Frank", 70),
    ("Grace", 88),
    ("Helen", 95)
]

while True:
    print("\n===== Student Management Menu =====")
    print("1. View All Students and Their Grades")
    print("2. Search a Student by Name")
    print("3. Display Total and Average Marks of the Class")
    print("4. Show Topper Student(s)")
    print("5. Exit")

    choice = input("Enter your choice (1-5): ")

    if choice == '1':
        print("---- All Students with Their Grades ----")
        for name, marks in students:
            print(f"{name}: {marks}")

    elif choice == '2':
        print("---- Search a Student by Name ----")
        p = input("Enter the name you want to search: ").capitalize()
        found = False
        for name, marks in students:
            if p == name:
                print(f"Name of the Student is: {name} and Marks: {marks}")
                found = True
                break
        if not found:
            print("Student not found!")

    elif choice == '3':
        print("---- Total and Average Marks of the Class ----")
        total_marks = sum(marks for _, marks in students)
        average_marks = total_marks / len(students)
        print(f"Total Marks of the Class: {total_marks}")
        print(f"Average Marks of the Class: {average_marks:.2f}")

    elif choice == '4':
        print("---- Topper Student(s) ----")
        topper = max(marks for _, marks in students)
        for name, marks in students:
            if marks == topper:
                print(f"{name} with {marks} Marks!!")

    elif choice == '5':
        print("Exiting the program. Goodbye!")
        break

    else:
        print("Invalid choice! Please enter a number between 1 and 5.")

===== Student Management Menu =====
1. View All Students and Their Grades
2. Search a Student by Name
3. Display Total and Average Marks of the Class
4. Show Topper Student(s)
5. Exit

Enter your choice (1-5):  2

---- Search a Student by Name ----

Enter the name you want to search:  bob

Name of the Student is: Bob and Marks: 78

===== Student Management Menu =====
1. View All Students and Their Grades
2. Search a Student by Name
3. Display Total and Average Marks of the Class
4. Show Topper Student(s)
5. Exit

Enter your choice (1-5):  5

Exiting the program. Goodbye!

In [29]:
for i in range(1,5):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *

In [33]:
rows = 5
for i in range(1, rows + 1):
    print(" " * (rows - i) + "*" * i)

    *
   **
  ***
 ****
*****

In [17]:
rows = 5
for i in range(1, rows + 1):
    print(" " * (rows - i) + "*" * (2 * i - 1))

    *
   ***
  *****
 *******
*********

In [19]:
rows = 5
for i in range(rows, 0, -1):
    print("*" * i)

*****
****
***
**
*

In [21]:
rows = 5
for i in range(rows, 0, -1):
    print(" " * (rows - i) + "*" * i)

*****
 ****
  ***
   **
    *

In [23]:
rows = 5
for i in range(rows, 0, -1):
    print(" " * (rows - i) + "*" * (2 * i - 1))

*********
 *******
  *****
   ***
    *

In [25]:
rows = 5
# Upper triangle
for i in range(1, rows + 1):
    print(" " * (rows - i) + "*" * (2 * i - 1))
# Lower triangle
for i in range(rows - 1, 0, -1):
    print(" " * (rows - i) + "*" * (2 * i - 1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [65]:
# pattern trick code 
for i in range(1,6):
    for j in range(1,6):
        if(j>=1 and j<=i):
            print("*",end=" ")
        else: 
            print(" ",end=" ")
    print("")

*
* *
* * *
* * * *
* * * * *

In [81]:
for i in range(1,6):
    for j in range(1,6):
        if( j>=1 and j<=6-i):
            print("*",end=" ")
        else: 
            print(" ",end=" ")
    print("")

* * * * *
* * * *
* * *
* *
*

In [83]:
for i in range(1,6):
    for j in range(1,6):
        if(j>=1 and j>=6 -i):
            print("*",end=" ")
        else: 
            print(" ",end=" ")
    print("")

        *
      * *
    * * *
  * * * *
* * * * *

In [93]:
for i in range(1,6):
    for j in range(1,6):
        if(j>=1 and j>=i):
            print("*",end=" ")
        else: 
            print(" ",end=" ")
    print("")

* * * * *
  * * * *
    * * *
      * *
        *

In [103]:
for i in range(1,6):
    for j in range(1,6):
        if(j>=1 and j>=6 -i):
            print("*",end="  ")
        else: 
            print(" ",end="  ")
    print("")

            *
         *  *
      *  *  *
   *  *  *  *
*  *  *  *  *

In [111]:
rows = 5
for i in range(1, rows + 1):        
    for j in range(1, i + 1):       
        print(chr(64+j), end=" ")
    print()

A
A B
A B C
A B C D
A B C D E

In [123]:
rows = 5
for i in range( rows,0,-1):        
    for j in range(1, i +1):       
        print(chr(64+j), end=" ")
    print()

A B C D E
A B C D
A B C
A B
A

In [127]:
ord("A")

65

In [131]:
ord("2")

50

In [133]:
chr(65)

'A'

In [135]:
rows = 6
for i in range(rows):
    letter = chr(65 + i)  
    for j in range(rows - i):
        print(letter, end=' ')
    print()

A A A A A A
B B B B B
C C C C
D D D
E E
F

In [137]:
rows = 6
for i in range(rows):
    letter = chr(65 - i)  
    for j in range(rows - i):
        print(letter, end=' ')
    print()

A A A A A A
@ @ @ @ @
? ? ? ?
> > >
= =
<