## Sets

In [2]:
#  set of integers

my_set = {1,2,3}
my_set

{1, 2, 3}

In [4]:
# set of mixed values 
mixed_set = {1,'hello',4.45}
mixed_set

{1, 4.45, 'hello'}

In [8]:
my_set = {1,2,3,2,4,4,5,6,6}    # set can not have duplicate values 
my_set

{1, 2, 3, 4, 5, 6}

In [10]:
type(my_set)

set

In [12]:
#  set cannot have multiple data structure (like - list , dictionary)

In [14]:
#  we can make set of a list

vowel_set = set(['a','e','i','o','u'])
vowel_set

{'a', 'e', 'i', 'o', 'u'}

In [16]:
vowels = ['a','e','i','o','u']
vowel_set = set(vowels)
vowel_set

{'a', 'e', 'i', 'o', 'u'}

In [26]:
# creating an empty set 

# 1 initialize a with {}
a = {}
type(a)

dict

In [28]:
# 2 with set 
a = set()
type(a)

set

In [32]:
# add method 
mixed_set = {1,'hello',4.45}
mixed_set.add("gopal")
mixed_set

{1, 4.45, 'gopal', 'hello'}

In [38]:
mixed_set.update([1,11,2,3])
mixed_set

{1, 11, 2, 3, 4.45, 'gopal', 'hello'}

In [40]:
# discard method 
mixed_set.discard(11)
mixed_set

{1, 2, 3, 4.45, 'gopal', 'hello'}

In [47]:
# remove method --- it gives error if element is not in set
mixed_set.remove('hello')
mixed_set

{1, 2, 3, 4.45}

In [49]:
# removing element using pop()
print(mixed_set.pop())

1

In [51]:
# clear the element of a set 
mixed_set.clear()
mixed_set

set()

In [57]:
# Python set operations 
# union
a = {1,2,3,4,5}
b = {4,5,6,7,8}
print(a| b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [59]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [61]:
# intersection
print(a&b)

{4, 5}

In [63]:
a.intersection(b)

{4, 5}

In [65]:
# difference 
print(a - b)

{1, 2, 3}

In [67]:
print(b - a)

{8, 6, 7}

In [71]:
a.difference(b)

{1, 2, 3}

In [73]:
# symmetric difference 
print(a^b)

{1, 2, 3, 6, 7, 8}

In [75]:
# copy () in set 

num = {1,2,3,4}
new_num = num.copy()
print(new_num)

{1, 2, 3, 4}

In [77]:
num.add(5)
num

{1, 2, 3, 4, 5}

In [86]:
# difference_update 
A = {'a','c','g','d'}
B = {'c','f','g'}
result = A.difference_update(B)
print('A = ' ,A)
print('B = ' ,B)

A =  {'d', 'a'}
B =  {'f', 'c', 'g'}

In [88]:
print('result =',result)

result = None

In [90]:
# intersection_update()
A = {1,2,3,4}
B = {2,3,4,5}
result = A.intersection_update(B)
print('result=',result)
print('A=',A)
print('B=',B)

result= None
A= {2, 3, 4}
B= {2, 3, 4, 5}