# Data Types In Python

In [1]:
# Integer 

i=52
print("Value of i= ",i)
print("Type of i is: ",type(i))

Value of i=  52
Type of i is:  <class 'int'>

In [2]:
# Float

x=20.4
print("Value of x= ",x)
print("Type of x is: ",type(x))

Value of x=  20.4
Type of x is:  <class 'float'>

In [ ]:
# Complex  (a+bj)

y=12+34.5j

print("Value of y is= ",y)
print(type(y))

Value of y is=  (12+34.5j)
<class 'complex'>

In [ ]:
# string  we can do this single,double and triple comma 

x="Himanshu"
y="2401100122983"

print("Value of x: ",x,"\n",type(x))
print("Value of y: ",y,"\n",type(y))

Value of x:  Himanshu
 <class 'str'>
Value of y:  2401100122983
 <class 'str'>

In [8]:
# Boolean

x=True
y=False

print("Value of x is: ",x,"\n",type(x),"\n","Value of y: ",y,"\n",type(y))

Value of x is:  True
 <class 'bool'>
 Value of y:  False
 <class 'bool'>

# List 
## list is a sequence of ordered homogeneous elememts

In [29]:
# List
lst=[1,2,3,4,5,6]
print(lst,"\n",type(lst))

[1, 2, 3, 4, 5, 6]
 <class 'list'>

In [35]:
# Change list it is mutable menas chageable 
lst[2:4]=30,40
lst

[1, 2, 30, 40, 5, 6]

# Tuple
### It is the sequence of ordered heterogeneous elements and it is immutable

In [37]:
# tuple
tup=(1,'hello',True)
print(tup,type(tup))

(1, 'hello', True) <class 'tuple'>

# Dictionary
## It is used for mapping (key,value) pairs it is mutable

In [ ]:
# Dictionary

Dict={'a':'20' , 'Cake':'Black Forest','Candy':'30','Protien':'GNC India'} 
print(Dict,type(Dict))

{'a': '20', 'Cake': 'Black Forest', 'Candy': '30', 'Protien': 'GNC India'} <class 'dict'>

In [ ]:
Dict['a']

Dict['a']=100
Dict

{'a': 100, 'Cake': 'Black Forest', 'Candy': '30', 'Protien': 'GNC India'}

# Sets
### It is a collection of un-ordered elements it is mutable 
### Discard Duplicates automatically

In [51]:
# Set 
s1={1,2,3,4,5,6}
s2={'a','e','i','o','u','a','e'}

s2
# print(s1,type(s1))

{'a', 'e', 'i', 'o', 'u'}

In [52]:
# Silicing
x="Virat Kholi"
x[0:5]

'Virat'

In [53]:
# negative silicing
x="Virat Kholi"
x[-1:]

'i'

In [54]:
com="Microsoft"
com[:-4]

'Micro'

In [55]:
name="Virat Kholi"
name[:6]

'Virat '

In [56]:
com[-4:]

'soft'

In [5]:
# Find simple interest 
p=int(input("Enter the value of Principal: "))
r=float(input("Enter the value of Rate: "))
t=float(input("Enter the value of Time: "))
si=(p*r*t)/100
print("Simple Interest in",t,"Years is: ",si)
print("Total Amount in",t,"Years is: ",p+si)

Simple Interest in 3.5 Years is:  113750.0
Total Amount in 3.5 Years is:  1413750.0

In [9]:
# Covert degree into Ferhenheist
Temp=float(input("Enter the Temprature: "))
Unit=input("Enter the Unit: ")

if Unit=='C':
    print("Your Temperature is Converted into Celcius: ",Temp*9/5+32,"C")
elif Unit=='F':
    print("Your Temperature is Converted in Ferhenheist: ",Temp*9/5-32,"F")
else:
    print("Please Enter Correct Input !!")

Your Temperature is Converted into Celcius:  98.96000000000001 C

# Practise Questions Day 2

In [2]:
# Question 1
# Complete Surface area of a cylinder 
height=float(input("Enter the height of the cylinder: "))
PI=float(input("Enter the Value of the PI: "))    #Constant 
radius=float(input("Enter the radius of the cylinder: "))

area=2*PI*radius*(height+radius)

print("The area of the Cylinder is: ",area)

The area of the Cylinder is:  73.75611312

In [7]:
# Question 2 
#Calculate EMI
Principal=int(input("Enter the Principal: "))  # P/p
Annual_Rate=float(input("Enter the Annual Rate: ")) 
Monthly_Rate=Annual_Rate/12/100  # r/R
Number_of_Installments=int(input("Enter the Number of Installments: "))  #n/N    Loan Tenure in Months 

EMI=Principal*Monthly_Rate*(1+Monthly_Rate)**Number_of_Installments/((1+Monthly_Rate)**Number_of_Installments-1)
print("Your EMI is:₹{:.2f}".format(EMI))

Your EMI is:₹888.49

In [ ]:
#Ouestion Find Biggest of Given 2 Numbers 
n1=int(input("Enter First Number"))
n2=int(input("Enter Second Number"))
if n1>n2:
    print("Larger number is: ",n1)
elif n2>n1:
    print("Larger Number is: ",n2)
elif n1==n2:
    print("Both are Equal !!!!")

No One is Bigger !!!!

In [6]:
# Check User Input is Leap Year or NOt
year=int(input("Enter the year: "))

if (year%4==0 and year%100!=0 ) or  (year%400==0) :
    print(f"{year} is Leap year !!")
else:
    print(f"{year} is not a leap year !! ")

2000 is Leap year !!

In [ ]:
# Larger of three Numbers 
n1=int(input("Enter first number: "))
n2=int(input("Enter second number: "))
n3=int(input("Enter third number: "))

if n1>n2 and n1>n3:
    print("N1 is larger number: ",n1)
elif n2>n1 and n2>n3:
    print("N2 is larger number: ",n2)
elif n1==n2==n3:
    print("All are Equal!! ")
else:
    print("N3 is larger number: ",n3)

All are Equal!!

In [5]:
# Check a number is Positive, Negative or Zero 
num=int(input("Enter the Number: "))
if num>0:
    print("It's a Positive !!")
elif num<0:
    print("It's a negative Number !!")
else:
    print("Number is Zero !!")

Number is Zero !!

In [ ]:
import random

# ANSI color codes for styling (works in most terminals)
RED = '\033[91m'
GREEN = '\033[92m'
YELLOW = '\033[93m'
CYAN = '\033[96m'
RESET = '\033[0m'

# Welcome banner
print(f"{CYAN}" + "🙏🏻"*20)
print("🎮 Welcome to the Number Guessing Game! 🎯".center(20))
print("🙏🏻"*20 + f"{RESET}")

# Player input
player_name = input(f"{YELLOW}Enter your name: {RESET}")
max_attempts = int(input(f"{YELLOW}How many attempts would you like, {player_name}? {RESET}"))

# Generate random number
secret_number = random.randint(1, 100)
attempt = 0  # Keep track of the number of attempts

print(f"\n{CYAN}I'm thinking of a number between 1 and 100...🤔{RESET}")

# Game loop
while attempt < max_attempts:
    attempt += 1
    print(f"\n{CYAN}🔁 Attempt {attempt} of {max_attempts}{RESET}")
    
    try:
        guess = int(input(f"{YELLOW}Enter your guess: {RESET}"))
    except ValueError:
        print(f"{RED}❌ Invalid input! Please enter a number.{RESET}")
        continue  # Skip to next loop iteration

    if guess == secret_number:
        print(f"{GREEN}🎉 Congratulations {player_name}! You guessed it right in {attempt} attempt(s)!{RESET}")
        break
    elif guess < secret_number:
        print(f"{YELLOW}📉  you guessed {guess} Too low! Try a higher number.{RESET}")
    else:
        print(f"{YELLOW}📈 you guessed {guess} Too high! Try a lower number.{RESET}")

    if attempt == max_attempts:
        print(f"\n{RED}😢 Game Over, {player_name}! The correct number was {secret_number}.{RESET}")

# Goodbye message
print(f"\n{CYAN}Thanks for playing, {player_name}! 👋🏻{RESET}")
print(f"{CYAN}" + "Bye Thanks for your Time !!" +"👋🏻"*20 + f"{RESET}")