#   Input Output Statements

In [1]:
print("Hello My Name is: Himanshu Gahalyan")

Hello My Name is: Himanshu Gahalyan

In [ ]:
print("Hello",end="!!")

Hello!!

# Formatted String

In [5]:
name=input("What is your Name ?")
course=input("What is your Course ?")
print(f"Hi!  \n{name} \nYou want to register in {course} ")

Hi!
Himanshu Gahalyan
You want to register in B.tech CSE AI/ML

# Simple Calculator Using F-string

In [7]:
num1=float(input("Enter the Number 1: "))
num2=float(input("Enter the Number 2: "))

add=num1+num2
multi=num1*num2
sub=num1-num2
div=num1/num2

print(f"You Entered {num1} and {num2}\nThe Sum of Your Entered Numbers is: {add:.2f}")
print(f"You Entered {num1} and {num2}\nThe Multiplication of Your  Numbers is: {multi:.2f}")
print(f"You Entered {num1} and {num2}\nThe Subtraction of Your Entered Numbers is: {sub:.2f}")
print(f"You Entered {num1} and {num2}\nThe Division of Your Entered Numbers is: {div:.2f}")

You Entered 20.45 and 30.56
The Sum of Your Entered Numbers is: 51.01
You Entered 20.45 and 30.56
The Multiplication of Your  Numbers is: 624.95
You Entered 20.45 and 30.56
The Subtraction of Your Entered Numbers is: -10.11
You Entered 20.45 and 30.56
The Division of Your Entered Numbers is: 0.67

# Calculate the Bill

In [9]:
Name=input("Enter your name: ")
price=float(input("Enter The price of the item: "))
qty=int(input("Enter the Quantity of the item: "))

total=price*qty

print(f"Hi!!\n{name}\nYour quantity is: {qty}\nand Price of Item is: {price}\nYour Bill Amount is{total:.2f}")

Hi!!
Himanshu Gahalyan
Your quantity is: 1000
and Price of Item is: 12000.0
Your Bill Amount is12000000.00

# Student Marks Record

In [2]:
name=input("Enter you Name: ")
Hindi=float(input("Enter Your Marks in Hindi: "))
English=float(input("Enter Your Marks in English: "))
Maths=float(input("Enter Your Marks in Maths: "))
Science=float(input("Enter Your Marks in Science: "))
Sst=float(input("Enter Your Marks in Sst: "))

total=Hindi+English+Maths+Science+Sst
percentge=total/500*100

## Colors 
Bright_Red='\033[91m'
Bright_Green='\033[92m'
Bright_Yellow='\033[93m'
Bright_Blue='\033[94m'
Bright_Magenta='\033[95m'
Bright_Cyan='\033[96m'
Bright_White='\033[97m'
Teal = '\033[38;5;50m'
Bright_Orange = '\033[38;5;202m'
Reset = '\033[0m'

print(f"Hi!!\n{name}")
print(f"Entered Marks in Hindi: {Hindi}")
print(f"Entered Marks in English: {English}")
print(f"Entered Marks in Maths: {Maths}")
print(f"Entered Marks in Science: {Science}")
print(f"Entered Marks in Sst: {Sst}")


print("\n")
print("\n")


report_card={
    'Name':name,
    'S1':Hindi,
    'S2':English,
    'S3':Maths,
    'S4':Science,
    'S5':Sst,
    'Total':total,
    'Percentage':percentge
}

print(f"{Bright_Blue}---Student Report card for: {name}---")
print(f"{Bright_Green}Hindi: {Hindi}\n{Bright_Magenta}English: {English}\n{Bright_Yellow}Maths: {Maths}\n{Bright_Cyan}Science: {Science}\n{Bright_Red}Sst: {Sst}")
print(f"{Teal}Total Marks: {total:.2f}\n{Bright_Orange}Percentage: {percentge:.2f}%")

Hi!!
Himanshu Gahalyan
Entered Marks in Hindi: 99.0
Entered Marks in English: 99.45
Entered Marks in Maths: 99.34
Entered Marks in Science: 99.8
Entered Marks in Sst: 99.98




---Student Report card for: Himanshu Gahalyan ---
Hindi: 99.0
English: 99.45
Maths: 99.34
Science: 99.8
Sst: 99.98
Total Marks: 497.57
Percentage: 99.51%

In [20]:
# Example of Typecasting

price=float(input("Enter The price: "))
qty=int(input("Enter The price: "))

total=int(price*qty)
print(f"Total is: {total}")

Total is: 144107

In [33]:
a=5
b=10
a=a+b
b=a-b
a=a-b
print("a=",a,"b=",b)

a= 10 b= 5

# Second Method to format a string

#### using string.formate

In [ ]:
name="XYZ"
age=20

print("My name is {} and I am {} years old.".format(name,age))

My name is XYZ and I am 20 years old.

In [4]:
print("My name is {1} and I am {0} years old.".format(name,age))

My name is 20 and I am XYZ years old.

In [5]:
print("My name is {name} and I am {age} years old.".format(name='xyz',age=20))

My name is xyz and I am 20 years old.

In [6]:
print("My name is {} and I am {} years old.".format('xyz',30))

My name is xyz and I am 30 years old.

In [8]:
print("My name is {1} and I am {0} years old.".format('ABC',70))

My name is 70 and I am ABC years old.

## Conditional Statements

In [ ]:
# Simple if
name=input("Enter your name: ")
grade=int(input("Enter the grade: "))
if grade==1:
    print(f"Hi!!\n{name}\nSit in Auditorium")
print("Welcome to Geeta University!!")

Hi!!
Himanshu Gahalyan
 Sit in Auditorium
Welcome to Geeta University!!

In [16]:
# if else statement 

name=input("Enter your Name: ")
age=int(input("Enter your age: "))

# Using a Variable

if age>=18:
    print(f"{name} You can vote!!")
else:
    print(f"{name} You are a Minor!!")

Himanshu  You can vote!!


## Loops in python

In [2]:
# Display numbers from 1 to 10
i=1
while i<=10:
    print(i,end=" ")
    i+=1

1 2 3 4 5 6 7 8 9 10

In [ ]:
# for loop
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [ ]:
for i in range(10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [7]:
# range(start,end-1,steps)
for i in range(1,11,1):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10

In [22]:
for i in range(0,1000,100):
    print(i,end=' ')

0 100 200 300 400 500 600 700 800 900

In [ ]:
# All even numbers from 1 to 100
i=0
for i in range(101):
    if i%2==0:
        print(i,end=' ')

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [5]:
# Sum from 1 to 10
i=1
sum=0

for i in range(11):
    sum+=i
print("The Sum is: ",sum)

The Sum is:  55

In [ ]:
# Display number from 40 to 20
## Because range() never includes the stop number. It goes up to but not including the stop value.

for i in range(40,19,-1):
    print(i,end=' ')

40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20

In [13]:
# Sum of all even number from 1 to 10
sum=0
for i in range(1,11):
    if i%2==0:
        sum+=i
print("The Sum is: ",sum)

The Sum is:  30

In [15]:
sum=0
for i in range(2,11,2):
    if i%2==0:
        sum+=i
print("The Sum is: ",sum)

The Sum is:  30

In [16]:
# Display all even from 10 to 20
for i in range(10,21,2):
    if i%2==0:
        print(i,end=' ')

10 12 14 16 18 20

In [17]:
# All odd from 120 to 130
for i in range(120,131,1):
    if i%2!=0:
        print(i,end=' ')

121 123 125 127 129

In [28]:
# sum of all even from 15 to 25
sum=0
for i in range(15,26):
    if i%2==0:
        sum+=i
print(sum)

100

In [35]:
# Display all odd from 30 to 11 (reverse order )
for i in range(30,10,-1):
    if i%2!=0:
        print(i,end=" ")

29 27 25 23 21 19 17 15 13 11

In [36]:
# All number from 1 to 100 which is divisible by 3 and 5

for i in range(1,101):
    if i%3==0 and i%5==0:
        print(i,end=' ')

15 30 45 60 75 90

In [41]:
'''
Accept number from user and count toal number of digit if there is zero in starting 
of a number then don't count it 
if zero is in between the count it 
'''
# Count Number of Digit in a number given by user 
count=0
n=int(input("Enter the Number: "))
while n>0:
    count+=1
    n=n//10
print("Number of Digits in Entered Number is: ",count)

Number of Digits in Entered Number is:  3