In [ ]:
print("Hi EveryoneMy!!\nName is: Himanshu Gahalyan\nI am Learning Python")

Hi EveryoneMy!!
Name is: Himanshu Gahalyan
I am Learning Python

In [ ]:
print('Hi EveryoneMy!!\nName is: Himanshu Gahalyan\nI am Learning Python')

Hi EveryoneMy!!
Name is: Himanshu Gahalyan
I am Learning Python

In [ ]:
print('''Hi EveryoneMy!!\nName is: Himanshu Gahalyan\nI am Learning Python''')

Hi EveryoneMy!!
Name is: Himanshu Gahalyan
I am Learning Python

In [ ]:
print("5"+"5")

55

In [ ]:
print(5+5)

10

In [ ]:
10+20

30

In [ ]:
5*10

50

In [ ]:
5**2

25

In [ ]:
# Adddition
2+3

5

In [ ]:
# Line Continuation

x=1+2+3+4+5\
+6+7+8
print(x)

36

In [25]:
# Literals - constant values in python

name="Himanshu Gahalyan"   # string
age=19 #numeric
weight=75.10 #float
print("My Nmae is: ",name,"\n""My age is: ",age,"\n""My weight is: ",weight)

My Nmae is:  Himanshu Gahalyan
My age is:  19
My weight is:  75.1

In [ ]:
# Arithmetic Operator
a=5+5
b=5*5
c=5-3
d=5/2
e=5//2
f=5%2
g=5**3
print("addation:",a)
print("multiplication:",b)
print("subtraction:",c)
print("division:",d)
print("integer part:",e)
print("remainder:",f)
print("power:",g)

addation: 10
multiplication: 25
subtraction: 2
division: 2.5
integer part: 2
remainder: 1
power: 125

In [ ]:
# comparision
5==5  #eqaul

False

In [ ]:
#not eqaul
3!=5

True

In [ ]:
#less than
3<4

True

In [ ]:
#grater than
4<5

True

In [ ]:
#less than or equal
3<=5

True

In [ ]:
#grater than ot eqaul
5<=10

True

In [ ]:
## Logical Operator are used to combine two or more conditions 

sal=500000
location="Noida"

# logical AND

if sal>=500000 and location=="Noida":
    print("Yes, I will accept the offer ")
else:
    print("I will not accept the offer")      # both condition must be true

Yes, I will accept offer

In [ ]:
# logical OR

sal=500000       # one must be true 
location="Noida"
if sal>=500000 or location=="Delhi":
    print("Yes, I will accept offer ")
else:
    print("I will not accept the offer")

Yes, I will accept offer

In [ ]:
# logical NOT 
# it will reverse the condition make true in flase and vice-versa 

a=True
not a

False

In [2]:
b=False
not b

True

# Practise Questions Day 1

In [3]:
# Question 1

# This program prints a welcome message 

print('Welcome to python')

Welcome to python

In [4]:
#  Question 2
# Multiline comment 

print(''' 
this is the basic code python 
in python we learn pandas, matplot lib ,and numpy 
''')

this is the basic code python
in python we learn pandas, matplot lib ,and numpy

In [5]:
# Question 3
# Declaring variable

name=input("Enter your Name: ")
age=int(input("Enter your age: "))

# Using a Variable

if age>=18:
    print("You can vote!!")
else:
    print("You are a Minor!!")

You can vote!!

In [ ]:
# Question 4

# Using constants(Upper naming by convention)      

PI=float(input("Enter the Value: "))
radius=float(input("Enter the value: "))

# Area of a Circle

area=PI*radius**2

print("The area of the Circle is: ",area,"cm")

The area of the Circle is:  12.52 cm

In [11]:
# Question 5
# Combining Comments and variable

# Declare price and quantity
price=50
quatity=3

# calculate total

total=price* quatity   # total price 
print("The total is: ",total)

The total is:  150

In [ ]:
# Question 6

In [14]:
# Area of a triangle 
# by taking input 

height=float(input("Enter the a height: "))
base=float(input("Enter the a base: ",))
area=1/2*height*base

print("Area of Triangle is: ",area,"cm")

Area of Triangle is:  300.0 cm

In [ ]:
# area of a recatangle

lenght=float(input("Enter the lenght: "))
width=float(input("Enter the width: "))

area=lenght*width

print("Area of the Rectabgle is: ",area,"cm")

Area of the Rectabgle is:  74.908 cm

In [17]:
# Question 7
# Declare multiple variables in one line
x,y,z=10,20,30
print("X=",x,"Y=",y,"Z=",z)

X= 10 Y= 20 Z= 30

In [ ]:
# Question 8
#Changing variable values

# initial value
x=10
print("X=",x)

#updating value
y=x+5
print("Y=",y)

X= 10
Y= 15

In [ ]:
#Question 9
# Mix of variable and constants

# Constant
TAX_RATE=0.18

# Variable 
item_price=1200
tax=item_price*TAX_RATE

Final_price=item_price+tax

print("Final price after tax: ",Final_price)

Final price after tax:  1416.0