In [2]:
## Pandas fandas is a fast, flerible, friesfal and opensource data analysis and manupulativa took to clean or analysis the dits.
# It is widely wed in â†’ Osta science
# machine learning
# Web Scraping

## Data Structure are --> Series 1D , Data Frame 2D

import pandas as pd

var =[1,2,3,4,5,6]

s=pd.Series(var)
s

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [3]:
s=pd.Series(var,index=['a','b','c','d','e','f'],dtype='float',name='Python Series')
s

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    6.0
Name: Python Series, dtype: float64

In [4]:
fruits=['Apple','Banana','Papaya','Mango','Pineapple']
fruits_series=pd.Series(fruits,name="Fruits_Series")
fruits_series

0        Apple
1       Banana
2       Papaya
3        Mango
4    Pineapple
Name: Fruits_Series, dtype: object

In [5]:
# Series from a Dictionary
marks={
    'maths':67,
    'english':57,
    'science':89,
    'hindi':100
}

s=pd.Series(marks,name='Student_Marks')
s

maths       67
english     57
science     89
hindi      100
Name: Student_Marks, dtype: int64

In [6]:
# custom index 
marks=[66,78,90,65,70]
subject=['maths','english','science','hindi','history']
student_data=pd.Series(marks,index=subject,name='Students_Marks')
student_data

maths      66
english    78
science    90
hindi      65
history    70
Name: Students_Marks, dtype: int64

## Series Attributes  if we write () then its a method if not then its a attributes

In [7]:
# size
student_data.size

5

In [8]:
# dtype
student_data.dtype

dtype('int64')

In [9]:
# name
student_data.name

'Students_Marks'

In [10]:
# index
student_data.index

Index(['maths', 'english', 'science', 'hindi', 'history'], dtype='object')

In [11]:
# values it will return in arrya same for index in array form 
student_data.values

array([66, 78, 90, 65, 70], dtype=int64)